<h3>{{viewTitle}}</h3>
<form action="/employee" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label for="">이름 <span style="color: #666; font-size: 12px">*영어 숫자 기입 불가능합니다 오직 한글만</span></label></label>
        <input type="text" class="form-control" name="fullName" id="Name" placeholder="이름" value="{{employee.fullName}}" required autofocus>
        <div class="text-danger">
            {{employee.fullNameError}}
        </div>
   
    </div>

    <div class="form-group">
        <label for="">이메일</label>
        <input type="text" class="form-control" name="email" placeholder="이메일을 입력해주세요" value="{{employee.email}}" required>
        <div class="text-danger">
            {{employee.emailError}}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">  
            <label for="">핸드폰번호</label>
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="핸드폰번호를 입력해주세요" value="{{employee.mobile}}" required>
        </div>
           <div class="form-group col-md-6">  
            <label for="">도시 <span style="color: #666; font-size: 12px">*영어 숫자 기입 불가능합니다 오직 한글만</span></label>
            <input type="text" class="form-control" id="city" name="city" placeholder="사는곳을 입력해주세요" value="{{employee.city}}" required>
        </div>
    </div>
      <div class="form-group">
          <button type="submit" class="btn btn-info" id="Insert" onclick="Check()"><i class="fa fa-database"></i>제출하기</button>
          <a href="/employee/index" class="btn btn-secondary"><i class="fa fa-list-alt"></i>직원 명단보기</a>
      </div>

</form>
